<div>
    <section class="page_content">
        <div class="cont">
            <h1 class="page_title" v-if="articles.hits.length>0">
                <div>Последние материалы</div>
            </h1>

            <section class="main_news" v-if="articles.hits.length>0">
                <div class="grid">

                    <div class="item_wrap" v-for="item in articles.hits">
                      <router-link :to="{path: '/article/' + item.alias}" class="item">
                            <div class="img">
                                <img :src="(item.image_400_400 ? item.image_400_400 : noImageUrls.article400400)" alt="">
                            </div>

                            <div class="info">
                                <div class="name">{{item.name}}</div>

                                <div class="desc" v-html="item.introtext"></div>

                                <div class="bottom">
                                    <div class="date left">{{item.article_date}}</div>
                                    <div class="td_icons right"
                                        v-bind:class="{ td_video: item.has_video=='1', td_gallery: item.has_gallery=='1'}">
                                      <span class="icon_video"></span>
                                      <span class="icon_gallery"></span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </router-link>

                    </div>

                </div>
            </section>


            <section class="page_menu">
                <router-link :to="{path: '/articles/' + articles.topParent.alias}" v-bind:class="{ active: (articles.topParent.alias === $route.params.alias) }"
                    class="name">
                    {{articles.topParent.name}}:
                </router-link>

                <router-link v-for="chapter in articles.tree" :key="chapter.alias" :to="{path: '/articles/' + chapter.alias}" v-bind:class="{ active: (chapter.alias === $route.params.alias) }"
                    class="name">
                    {{chapter.name}}
                </router-link>
            </section>

            <banner position="InsideArticles"></banner>

            <section class="news_list">
                <div class="grid">

                    <div class="item_wrap" v-for="item in articles.items">
                        <router-link :to="{path: '/article/' + item.alias}" v-if="Math.floor(Math.random() * 1.99) && item.image_400_400"
                              class="item type1" v-bind:style="{ backgroundImage: 'url(' + item.image_400_400 + ')' }">
                        <!-- <router-link :to="{path: '/article/' + item.alias}" v-if="Math.floor(Math.random() * 1.99) && item.image_400_400" v-bind:style="{ backgroundImage: 'url(' + item.image_400_400 + ')' }"
                            class="item type1 td_video td_gallery" v-bind:class="{ td_video: item.has_video=='1', td_gallery: item.has_gallery=='1'}"> -->
                            <div class="info">
                                <div class="name">{{item.name}}</div>

                                <div class="desc" v-html="item.introtext"></div>

                                <div class="bottom">
                                    <div class="date left">{{item.article_date}}</div>
                                    <div class="td_icons right"
                                        v-bind:class="{ td_video: item.has_video=='1', td_gallery: item.has_gallery=='1'}">
                                      <span class="icon_video"></span>
                                      <span class="icon_gallery"></span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </router-link>

                        <router-link :to="{path: '/article/' + item.alias}" v-else class="item type2 td_video td_gallery">
                            <div class="img">
                                <img :src="(item.image_400_200 ? item.image_400_200 : noImageUrls.article400200)" alt="">
                            </div>

                            <div class="info">
                                <div class="date left">{{item.article_date}}</div>
                                <div class="td_icons right"
                                    v-bind:class="{ td_video: item.has_video=='1', td_gallery: item.has_gallery=='1'}">
                                  <span class="icon_video"></span>
                                  <span class="icon_gallery"></span>
                                </div>
                                <div class="clear"></div>

                                <div class="name">{{item.name}}</div>

                                <!-- Для печати сокращенного имени статьи:
                                <div class="name" v-html="item.short_name"></div>
                                -->

                                <div class="desc" v-html="item.introtext"></div>
                            </div>
                        </router-link>
                    </div>

                </div>

                <pagination :pagination="pagination" :urlPrefix="'/articles/' + alias"></pagination>

            </section>
        </div>
    </section>
</div>
