<div class="text_block info_page page-width">
    <nav class="navigation">
        <div class="navigation__wrap">
            <div class="nav_title">
                <h3 class="h3">
                    Каталог
                </h3>
            </div>
            <div class="col-12">
                <div class="navigation__line"></div>
            </div>
        </div>
    </nav>

    <section class="window">
        <div class="window__title">
            <h3 class="window__h3">

                {{page.section.name}}

            </h3>
        </div>
    </section>

    <section class="section clearfix">
        <div class="section-inner wrapper">
            <div class="search products-search">
                <input @keyup.enter="fetchSearchData" type="text" name="search" v-model="search" class="input left" placeholder="Найти продукцию">
                <button @click="fetchSearchData" class="submit_btn left"></button>
            </div>
            <span class="product_filter" v-if="sort === 'asc'"  @click="fetchSearchDataDesc" style="font-size: 3rem; color: #287fc4; cursor: pointer"><i class="fas fa-sort-amount-up" style="margin-top: 4px; margin-left: 5px"></i></span>
            <span class="product_filter" v-if="sort === 'desc'" @click="fetchSearchDataAsc" style="font-size: 3rem; color: #287fc4; cursor: pointer"><i class="fas fa-sort-amount-down" style="margin-top: 4px; margin-left: 5px"></i></span>
            <div class="clear"></div>
            <section v-if="isFirstPage" v-html="page.section.text"></section>
            <div v-if="page.items.length" class="prod__wrapper">
                <div v-for="(item, index) in page.items" class="product__wrapper">
                    <div class="prod">
                        <div class="img">
                            <router-link :to="'/product/' + item.alias">
                                <img :src="item.image ? item.image : noImageUrls.product250250"/>
                            </router-link>
                        </div>
                        <div class="product__text prod-text">
                            <router-link :to="'/product/' + item.alias">
                                {{item.name}}
                            </router-link>

                            <p>
                                Цена по запросу
                                <span class="rehau"></span>
                            </p>
                        </div>
                        <div class="button btn-transparent prod-btn button-r">
                            <router-link :to="'/product/' + item.alias">Подробнее</router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else="" class="prod__wrapper">
                <h3 v-if="search.length">Ничего не найдено</h3>
                <h3 v-else="">Данная категория находится в стадии заполнения! Пожалуйста, приходите чуть позже.</h3>
            </div>

            <pagination :pagination="pagination"
                        :urlPrefix="'/products' + (productsAlias ? ('/' + productsAlias) : '')"></pagination>

            <div class="company-top">
                <div class="company__title" v-if="page.favoriteCompanies.length">
                    <h3 class="h3 h3-company">
                        Топ компаний
                    </h3>
                </div>
                <div class="company__wrapper" v-if="page.favoriteCompanies.length">
                    <div class="company__flex" v-for="i in Math.ceil(page.favoriteCompanies.length / 4)">
                        <div class="company__img" v-for="company in page.favoriteCompanies.slice((i - 1) * 4, i * 4)">
                            <div class="brands bord">
                                <div class="slide">
                                    <router-link :to="'/company/' + company.alias" class="item">
                                        <div class="icon">
                                            <img v-if="company.logo" :src="company.logo"/>
                                        </div>

                                        <div class="name">{{company.name}}</div>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="button last-btn">
                    <router-link :to="'/companies'">Каталог компаний</router-link>
                </div>
            </div>
        </div>

        <div class="kategory__wrap">
            <div class="product__kategory">
                <catalog-menu-right caption="Категории товаров" baseUrl="products" :sections="sections"
                                    :activeAlias="productsAlias" :opennedAlias="opennedAlias"></catalog-menu-right>
            </div>

            <div class="recomend__img">
                <banner position="InsideProducts"></banner>
            </div>
        </div>
    </section>
</div>
