<transition name="bounce">
    <div class="fns modal-mask" v-if="openFns" @click="setOpenFns(false)">
        <div class="modal-wrapper">
            <div class="modal" @click.stop>
                <div class="form">
                    <div class="modal_title">Информация из налогового органа</div>
                    <div class="empty" v-if="status=='ok' && fnsInfo.length == 0">По вашему запросу <i>{{number}}</i>
                        ничего не найдено
                    </div>
                    <div v-else>
                        <div class="fns-content" v-if="status=='ok'">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Поле</th>
                                    <th>Значение</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="row in fnsInfo">
                                    <td class="field-name">{{row.field_name}}</td>
                                    <td class="field-value">{{row.field_value}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="error" v-if="status!='ok'">{{ errorMessage }}</div>
                    </div>
                </div>
                <button class="modal-close" title="Закрыть" @click="setOpenFns(false)"></button>
            </div>
        </div>
    </div>
</transition>
