.verify-phone.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;

  .modal {
    display: inline-block;
    min-width: 400px;
    max-width: calc(100% - 80px);

    p {
      color: #353535;
      font: 14px HelveticaNeueCyr;
      margin-bottom: 15px;
    }
  }
}

.verify-phone {
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-close {
    box-sizing: border-box;

    position: absolute;
    top: 0;
    right: -34px;
    z-index: 10;

    width: 34px;
    height: 34px;

    margin: 0;
    padding: 0;

    border: 0;
    border-radius: 0;
    outline: none;
    background: #115c97 url(/theme/default/images/ic_modal_close.png) 50% 50% no-repeat;

    cursor: pointer;
    transition: background-color 0.2s linear;
  }

  .modal-close:hover {
    background-color: #053e6b;
  }

  .bounce-enter-active {
    animation: bounce-in 0.3s;
  }

  .bounce-leave-active {
    animation: bounce-in 0.3s reverse;
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .error {
    color: red;
    font-weight: bold;
  }

  .phone {
    font-size: 20pt;
    font-weight: bold;
  }

  .verify-input, .buttons {
    padding-top: 10px;
  }
}
