<section class="page_content" v-if="article.article">

    <section class="article_info"
             :style="{ backgroundImage: 'url(' + (article.article.image_1300_650 ? article.article.image_1300_650 : noImageUrls.article1300650) + ')' }">
        <div class="cont">
            <div class="head"
                  :class="{noimg: !article.article.image_600_400}">
                <div class="col left">
                    <h1 class="name">{{article.article.name}}</h1>

                    <div class="published">
                        <div class="date" v-if="article.article.article_date_show">
                            {{article.article.article_date}}
                        </div>
                        <div class="author" v-if="article.article.show_nickname && article.article.author_alias">
                            Автор: {{article.article.author_alias}}
                        </div>
                    </div>

                    <div class="bottom">
                        <div class="cats" v-if="article.article.chapters.length">
                            <router-link v-for="item in article.article.chapters"
                                         :key="item.alias"
                                         :to="'/articles/' + item.alias">
                                {{item.name}}
                            </router-link>
                        </div>
                    </div>
                </div>


                <div v-if="(!article.article.image_1300_650 && article.article.image_600_400) || article.article.image_600_400_show" class="col right" v-bind:style="{ backgroundImage: 'url(' + article.article.image_600_400 + ')' }">
                  <img :src="article.article.image_600_400" alt="">
                </div>
            </div>
        </div>
    </section>


    <div class="cont article-content">

        <banner position="InsideArticle"></banner>

        <section class="text_block news-text_block">
            <template v-for="node, n in nodes">
                <gallery v-if="n % 2" :id="node"></gallery>
                <span v-else class="text_block" v-html="node"></span>
            </template>
        </section>

        <section class="brand_block" v-if="article.article.companies" v-for="company in article.article.companies">
            <router-link :to="'/company/' + company.alias" class="logo">
                <img :src="company.logo ? company.logo : noImageUrls.company270180" alt="">
            </router-link>

            <div class="info">
                <div class="name">
                    <router-link :to="'/company/' + company.alias">
                        {{company.name}}
                    </router-link>
                </div>

                <div><b>Адрес:</b> {{company.address}}</div>
                <div v-if="company.phone_1"><b>{{company.phone_1_type}}: {{company.phone_1}}</b></div>
                <div v-if="company.phone_2"><b>{{company.phone_2_type}}: {{company.phone_2}}</b></div>
                <div v-if="company.phone_3"><b>{{company.phone_3_type}}: {{company.phone_3}}</b></div>
                <div v-if="company.phone_4"><b>{{company.phone_4_type}}: {{company.phone_4}}</b></div>
                <div v-if="company.phone_5"><b>{{company.phone_5_type}}: {{company.phone_5}}</b></div>
                <div v-if="company.unp_inn"><b>УНП/ИНН: {{company.unp_inn}}</b></div>
            </div>
        </section>


        <section class="prev_next_pag">
            <router-link :to="{path: '/article/' + article.previousArticleAlias}"
                         v-if="article.previousArticleAlias"
                         class="prev left">
                Предыдущая новость
            </router-link>

            <router-link :to="{path: '/article/' + article.nextArticleAlias}"
                         v-if="article.nextArticleAlias"
                         class="next right">
                Следующая новость
            </router-link>
        </section>


        <section class="other_articles" v-if="article.moreCompanyArticles.length > 0">
            <div class="block_title">Другие новости компании</div>

            <div class="item" v-for="item in article.moreCompanyArticles">
                <router-link :to="{path: '/article/' + item.alias}">
                    {{item.name}}
                </router-link>
            </div>
        </section>
    </div>


    <section class="related_articles">
        <div class="cont">
            <div class="block_title">Читайте также</div>

            <div class="news_list">
                <div class="grid">

                    <div class="item_wrap" v-for="item in article.lastArticlesByChapters">
                        <router-link :to="{path: '/article/' + item.alias}"
                                     v-bind:style="{ backgroundImage: 'url(' + (item.image_400_400 ? item.image_400_400 : noImageUrls.article400400) + ')' }"
                                     class="item type1">
                            <div class="info">
                                <div class="name">{{item.name}}</div>

                                <div class="desc" v-html="item.introtext"></div>

                                <div class="bottom">
                                    <div class="date left" v-html="item.article_date"></div>
                                    <div class="td_icons right"
                                        v-bind:class="{ td_video: item.has_video=='1', td_gallery: item.has_gallery=='1'}">
                                      <span class="icon_video"></span>
                                      <span class="icon_gallery"></span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
<script>
    import Gallery from "@/components/shared/Gallery/Gallery";
    export default {
        components: {Gallery}
    }
</script>